#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card{
  background-color: black;
  border: solid 1px rgb(39, 39, 39);
}

.card:hover{
  border: solid 1px white;
}


.card figure{
  width: 100%;
  height: 150px;
  overflow:hidden;
}

.thumbnail{
  object-fit: cover;
  transition: 0.2s;
  transform: scale(1);
}


.card:hover .thumbnail{
  transition: 0.2s;
  transform: scale(1.2);
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: darkorange;
  width: 16px;
  height: 16px;
  transform: translate(-50%, 50%);
  border-radius: 50%;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 